.staff-card-group {
    display: flex;
    justify-content: space-around;
}
.staff-img-wh {
    height: 250px;
    width: 250px;
}
.margin-para {
    margin-left: 4rem;
}
.padding-info {
    padding: 10px;
}