.staff-card-group {
    display: flex;
    justify-content: space-around;
}
.top-games-card-group {
    display: flex;
    justify-content: space-around;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.staff-img-wh {
    height: 250px;
    width: 250px;
}
.margin-para {
    margin-left: 4rem;
}
.margin-right {
    margin-right: 10rem;
}
.padding-info {
    padding: 10px;
}

.vapor-img {
    border-radius: 25px;
    width: 200px;
    height: 200px;
}

.pfp-image-circle {
    border: 3px solid #969896;
    border-radius: 50%;
    width: 150px;
    height:150px;
}
.bio-title {
    text-align: left;
}
.bio-text {
    text-align: left;
}
.vapor-color {
    color: #8abeb7;
}
.profile-margin {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.pfp-margin{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#user_symbol {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin: auto;
    text-align: center;
}

#pfp_symbol {
    
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin:auto;
    text-align: center;
}

.row-margin {
    margin-bottom: 1em;
}

#vapor_logo {
    /* Extrabold / H5 Heading */
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
}

.gray-color{
    color: #969896;
}


.pfp-border {
    border: 3px solid #969896;
    border-radius: 10px;
}

.glide-container{
    /* min-height : 300px;
    max-height : 300px;  */
    /* max-height: 500px; */
    overflow: hidden;
    
    /* width : 75%;
    height: 75%; */
}

.game-card {
    max-width: 200px;
    height: 250px;
}

.game-card__intro{

}

.game-card__title{

}

.game-card__btn{

}
.game-card__btn-prev{

}
.game-card__btn-next{
    
}
.game-card__icon{
    /* width: inherit; */
    height: 250px;
}

.btn-dark, .btn-dark:hover, .btn-dark:active, .btn-dark:visited {
    background-color: #8abeb7 !important;
    color: black !important;
}

a {
    color: #8abeb7;
}

a:hover {
    color:#969896;
}

.vapor-welcome {
    text-shadow: 1px 1px 2px #8abeb7, 0 0 1em lightblue, 0 0 0.2em white;
}