<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/for.css">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <title>My Site</title>
</head>
<body>
    <div class="container1">
        <a href="/">Home</a>
        <a href="/post_review.html">post_review</a>
        <a href="/about.html">about</a>
        <a href="/all_games.html">all_games</a>
        <a href="/gamepage.html">gamepage</a>
        <a href="/index.html">index</a>
        <a href="/profile.html">profile</a>
        <a href="/search.html">search</a>
        {% block body %}
        {%endblock %}
        
    </div>

    
</body>
</html>