<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="/static/for.css"> -->
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <title>vapor</title>

</head>
<body>
    <div id="header">{% include "header.html" %}</div>
    {% block body %}
    {% endblock %}
</body>
</html>