{% extends '_layout.html' %}

{% block body %}
<div id="master-div">
    <div id="info-div" class="padding-info">
        <h1 class="ms-5">the vapor story</h1>
    </div>
    <div id="info-div" class="padding-info">
        <h2 class="ms-5">our mission</h2>
        <p class="margin-para">sample text</p>
    </div>
    <div id="sub-div">
        <div id="info-div" class="padding-info">
            <h2 class="ms-5">who we are</h2>
            <p class="margin-para">sample text</p>
        </div>
        <div id="imgs-div">
            <div class="staff-card-group">
                <div class="card" style="width: 12rem;">
                    <img class="card-img-top staff-img-wh" src="./static/images/nathan.png" alt="Nathan Laney">
                    <div class="card-body">
                      <h5 class="card-title">Nathan Laney</h5>
                      <p class="card-text">Title</p>
                      <a href="#" class="btn btn-dark">Nathans Github</a>
                    </div>
                  </div>
    
                <div class="card" style="width: 12rem;">
                    <img class="card-img-top staff-img-wh" src="./static/images/kaitlyn.png" alt="Kaitlyn Finberg">
                    <div class="card-body">
                      <h5 class="card-title">Kaitlyn Finberg</h5>
                      <p class="card-text">Title</p>
                      <a href="#" class="btn btn-dark">Kaitlyns Github</a>
                    </div>
                  </div>
                
                <div class="card" style="width: 12rem;">
                    <img class="card-img-top staff-img-wh" src="./static/images/sumi.png" alt="Sumi Verma">
                    <div class="card-body">
                      <h5 class="card-title">Sumi Verma</h5>
                      <p class="card-text">Title</p>
                      <a href="#" class="btn btn-dark">Sumis Github</a>
                    </div>
                  </div>
    
                <div class="card" style="width: 12rem;">
                    <img class="card-img-top staff-img-wh" src="./static/images/honna.png" alt="Honna Sammons">
                    <div class="card-body">
                      <h5 class="card-title">Honna Sammons</h5>
                      <p class="card-text">Title</p>
                      <a href="#" class="btn btn-dark">Honnas Github</a>
                    </div>
                  </div>
    
                <div class="card" style="width: 12rem;">
                    <img class="card-img-top staff-img-wh" src="./static/images/tyler.png" alt="Tyler Minnis">
                    <div class="card-body">
                      <h5 class="card-title">Tyler Minnis</h5>
                      <p class="card-text">Title</p>
                      <a href="#" class="btn btn-dark">Tylers Github</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
    
  
{% endblock %}