{% extends '_layout.html' %}

{% block body %}
<div id="master-div">
    <div id="info-div" class="padding-info">
        <h1 class="ms-5">the vapor story</h1>
    </div>
    <div id="info-div" class="padding-info">
        <h2 class="ms-5 vapor-color">our mission</h2>
        <h3 class="margin-para"><i>"To help gamers connect with each other and their favorites games."</i></h3>
    </div>
    <div id="sub-div">
        <div id="info-div" class="padding-info">
            <h2 class="ms-5 vapor-color">who we are</h2>
            <p class="margin-para"><strong>vapor</strong> is for anyone who wants to <i>discuss, review, and search</i> all kinds of <strong>video games</strong>. </p>
            <p class="margin-para gray-color gray-color">Unlike other game review websites, vapor is a streamlined website that caters solely to our users, and allows them to do their own research and view others’ opinions.</p>
        </div>
      
        <div id="info-div" class="padding-info">
          <h2 class="ms-5 vapor-color">vapor staff</h2>
        </div>

        <div id="imgs-div">
    
            <div class="container text-center">
              <div class="row">
                <div class="col">
                  <div class="card">
                    
                    <img class="card-img-top" src="./static/images/nathan.png" alt="Nathan Laney">
                    <div class="card-body">
                      <h5 class="card-title">Nathan L.</h5>
                      <p class="card-text gray-color">Software Engineer</p>
                      <a href="#" class="btn btn-dark">Github</a>
                    </div>
                  </div>
                </div>
      
                <div class="col">
                  <div class="card" >
                    
                    <img class="card-img-top" src="./static/images/kaitlyn.png" alt="Kaitlyn Finberg">
                    <div class="card-body">
                      <h5 class="card-title">Kaitlyn F.</h5>
                      <p class="card-text gray-color">Software Engineer</p>
                      <a href="#" class="btn btn-dark">Github</a>
                    </div>
                  </div>
                </div>
                  
                <div class="col">
                  <div class="card" >
                    
                    <img class="card-img-top" src="./static/images/sumi.png" alt="Sumi Verma">
                    <div class="card-body">
                      <h5 class="card-title">Sumi V.</h5>
                      <p class="card-text gray-color">Software Engineer</p>
                      <a href="#" class="btn btn-dark">Github</a>
                    </div>
                  </div>
                </div>
              <!--</div>-->

              <!--<div class="row">-->
                <div class="col">
                  <div class="card" >
                    
                    <img class="card-img-top" src="./static/images/honna.png" alt="Honna Sammons">
                    <div class="card-body">
                      <h5 class="card-title">Honna S.</h5>
                      <p class="card-text gray-color">Security Analyist</p>
                      <a href="#" class="btn btn-dark">Github</a>
                    </div>
                  </div>
                </div>
  
                <div class="col">
                  <div class="card">
                    
                    <img class="card-img-top" src="./static/images/tyler.png" alt="Tyler Minnis">
                    <div class="card-body">
                      <h5 class="card-title">Tyler M.</h5>
                      <p class="card-text gray-color">Scrum Master</p>
                      <a href="#" class="btn btn-dark">Github</a>
                    </div>
                  </div>
                </div>
              </div>
              
              
              
            </div>
        </div>
    </div>
</div>
    
  
{% endblock %}