{% extends '_layout.html' %}

<!-- thanks krevat <3 -->

{% block title %}Search Games{% endblock %}

{% block body %}
<h1 class="mb-5 vapor-welcome">all games</h1>
<form action="/search" method="get" class="mb-5">
    <label for="q" class="form-label">search by title</label>
    <div class="input-group">
        <input type="text" name="q" id="q" class="form-control" autocomplete="off" value="">
        <div class="input-group-append">
            <button type="submit" class="btn btn-dark">search</button>
        </div>
    </div>
</form>

{% if results_found > 0 %}

{%for i in range(0, results_found)%}



<div class="d-inline-flex">
    <div class="card" style="width:18em">
        <a href="/{{search_results[i]['game_id']}}">
            <img class="card-img-top" src="{{search_results[i]['thumbnail_link']}}"
                alt='{{search_results[i]["title"]}}'>
            <div class="card-body">
                <h5 class="card-title text-center">{{search_results[i]["title"]}}</h5>
                <p class="card-text text-center">{{search_results[i]["developer"]}}</p>
            </div>
        </a>
    </div>
</div>

{%endfor%}

{% else %}
<p>No games found</p>

{% endif %}
{% endblock %}