{% extends '_layout.html' %}

{% block body %}

<!-- game card with pic -->
<h1 class="p-2 mb-4">{{ current_game.title }}</h1>
<div class="d-inline-flex">
    <div class="card" style="width:18em">
      <img class="card-img-top" src="{{ current_game.thumbnail_link }}" alt='{{ current_game.title }}'>
      <div class="card-body">
        <h5 class="card-title text-center">{{ current_game.title }}</h5>
        <p class="card-text text-center">{{ passed_rating }}</p>
      </div>
    </div>
    <!-- game info -->
    <div class="ml-4" class="flex-container">
        <h4>description:</h4>
        <p>{{ current_game.description }}</p>
        <h5>publisher: </h5>
        <p>{{ current_game.publisher }}</p>
        <h5>developer: </h5>
        <p>{{ current_game.developer }}</p>
        <h5>tags: </h5>
        <p>{{ current_game.tags }}</p>
        <h5>rating: </h5>
        <p>{{ passed_rating }}</p>
    </div>
</div>

<div>
    <h2 class="mt-5">ratings</h2>
    <!-- rating section -->
    <section style="background-color: #8abeb7;">
        <div class="container my-5 py-5 text-dark">
            <div class="card w-10, h-10 mb-3">
                <div class="card-body p-1">
                    <div class="d-flex flex-start w-100 mt-3">
                    <!-- pfp -->
                    <img class="rounded-circle shadow-1-strong me-3 ml-2"
                        src="./static/profile-pics/{{ profile_path }}" alt="pfp" width="60"
                        height="60" />
                    <!-- write your review -->
                    <form action="/{{ current_game.game_id }}" method="post" class="mt-1 ml-2">
                    <div class="w-100 ml-1">
                        <h5>leave a review</h5>
                        <div class="form-group">
                        <textarea class="form-control" name="review" id="review" rows="4" cols="110"></textarea>
                        <div class="mt-4">
                        <label for="rating" class="form-label">rating</label>
                        <input type="number" class="form-label" id="rating" name="rating" autocomplete="off" min="1" max="5">    
                    </div>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end mr-1">
                        <button class="btn btn-secondary me-md-2" type="submit">submit</button>
                    </div>
                    </div>
                    </div>
                </form>
                </div>
            </div>
        </div>

        <!--list all reviews for game-->
        {% for i in range(0, reviews_length) %} 
            <div class="card w-10, h-10 mb-3">
                <div class="card-body">
                    <h6 class="card-title text-left">{{ current_user.username }}</h6>
                    <p class="card-text text-left">{{ reviews[i]["description"] }}</p>
                    <p class="card-text text-left"><strong>rating:</strong> {{ reviews[i]["rating_score"] }}</p> 
                </div>
            </div>
        {% endfor %}
        
        
        <!-- stand-in reviews 
        <div class="card w-10, h-10 mb-3">
            <div class="card-body">
                <h5 class="card-title text-left">rating 1</h5>
                <h6 class="card-title text-right">user xy</h6>
                <p class="card-text text-left">this game SUCKS!!</p>
                <p class="card-text text-left"><strong>rating:</strong> 2.0 &nbsp</p> 
            </div>
        </div>

        <div class="card w-10, h-10 mb-3">
            <div class="card-body">
                <h5 class="card-title text-left">rating 2</h5>
                <h6 class="card-title text-right">user ab</h6>
                <p class="card-text text-left">i would sell my firstborn to play this game again for the first time :)</p>
                <p class="card-text text-left"><strong>rating:</strong> 4.0 &nbsp</p> 
            </div>
        </div>
        -->

    </section>
</div>

{% endblock %}