{% extends '_layout.html' %}

{% block body %}
<h2 class="p-2">highest rated games</h2>
<div class="row p-5">
    <div class="col-sm-6">
      <div class="card w-10, h-10">
        <img src="/static/portal.jpeg" alt="portal">
        <div class="card-body">
          <h5 class="card-title text-center">Portal</h5>
          <p class="card-text text-center">4.9/5</p>
        </div>
      </div>
    </div>
        <!-- <div class="card">
          <img src="/static/portal.png" class="card-img-top" alt="portal">
          <div class="card-body">
            <h5 class="card-title text-center">Portal</h5>
            <p class="card-text text-center">4.9/5</p>
          </div>
        </div>
        <div class="card">
          <img src="/static/portal.png" class="card-img-top" alt="portal">
          <div class="card-body">
            <h5 class="card-title text-center">Portal</h5>
            <p class="card-text text-center">4.9/5</p>
          </div>
        </div>
        <div class="card">
          <img src="/static/portal.png" class="card-img-top" alt="portal">
          <div class="card-body">
            <h5 class="card-title text-center">Portal</h5>
            <p class="card-text text-center">4.9/5</p>
          </div>
        </div>
        <div class="card">
          <img src="/static/portal.png" class="card-img-top" alt="portal">
          <div class="card-body">
            <h5 class="card-title text-center">Portal</h5>
            <p class="card-text text-center">4.9/5</p>
          </div>
        </div>
        <div class="card">
          <img src="/static/portal.png" class="card-img-top" alt="portal">
          <div class="card-body">
            <h5 class="card-title text-center">Portal</h5>
            <p class="card-text text-center">4.9/5</p>
          </div>
        </div>
      </div>
       <div class="col-sm-6"> 
        <div class="card">
          <img src="/static/portal.png" class="card-img-top" alt="portal">
          <div class="card-body">
            <h5 class="card-title text-center">Portal</h5>
            <p class="card-text text-center">4.9/5</p>
          </div>
        </div>
      </div>
    </div> -->
<h2>our picks</h2>
<h2>your backlog</h2>
{% endblock %}