{% extends '_layout.html' %}

{% block body %}
<h2 class="mb-5">Login to Your account</h2>
{% for message in get_flashed_messages() %}
<h2>{{ message }}</h2>
{% endfor %}

<h2 class="mb-5">Reset Password</h2>
<p> Tell us your email and we will send a reset password link, if there is an account with that email address</p>

<form action="/reset" method="POST">
    
    <label for="email">Email</label><br>
    <input type="email" id="email" name="email" required><br><br>
    <form action="reset">
        <button type="submit"class="btn btn-primary">Submit</button>
     </form>


</form>
{% endblock %}